@use '../assets/scss/variables';
@use '../assets/scss/mixins' as *;

#cart-page{
  padding: 0 10rem;
  width: 100%;
  height: 100vh;

  .cart-h1{
    text-align: center;
    padding: 5rem 0;
    font-size: 64px;
    font-weight: 900;
    margin: none;
    color: var(--color-deep-blue);
  }

  .cart-top{
    //고정되어져야함
    display: flex;
    justify-content: space-between;
    align-items: center;
    .user-info{ 
      font-size: 32px;
    }
    .right{
      font-size: 32px;
      @include flex-layout(row, center, center, 2rem);
      button{
        font-size: 32px;
        border: none;
        outline: none;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
        background-color: var(--soft-beige);
        &:hover{
          background-color: var(--muted-yellow);
        }
      }
    }
  }


}