#category-page {
  width: 100%;
  .category-wrap {
    margin: auto;
    height: 1080px;
    max-width: 1440px;
    background-color: aqua;
    .category-top {
      div {
        height: 760px;
        width: 100%;
        background-color: pink;
      }
    }
    .category-best {
      p {
        text-align: center;
        font-weight: bold;
        font-size: 64px;
        span {
          color: gold;
        }
      }
      .category-card {
        box-sizing: border-box;
        width: 250px;
        height: 360px;
        background-color: yellow;
        .card-top {
          width: 100%;
          height: 80%;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .card-bottom {
          padding: 0.7rem;
          p {
            margin: 0;
            text-align: left;
            font-size: 16px;
          }
        }
      }
    }
    .category-prod {
      .category-card {
        box-sizing: border-box;
        width: 200px;
        height: 250px;
        background-color: yellow;
        .card-top {
          width: 100%;
          height: 80%;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .card-bottom {
          padding: 0.7rem;
          p {
            margin: 0;
            text-align: left;
            font-size: 12px;
          }
        }
    }
  }
}
}