@use '../../assets/scss/mixins' as *;
@use '../../assets/scss/fonts' as *;

.header{
    background-color:var(--white) ;
    // background-color: aqua;  //알아보고 싶게 임시 설정 원래색은 위에 주석처리
    padding:0 10rem;
    width: 100%;
    .header-menu{
        @include flex-layout(row, space-between, center);
        padding: 1rem 2rem;
        .logo{
            img{
                width: 10rem;
                height: 5rem;
            }
        }
        .menu-list{
            display: flex;
            gap: 8rem; 
            font-size: 24px;
            color: var(--color-deep-blue);
            @include font-s-1;
        }
        .icon-group{
            display: flex;
            gap:2rem;
            img{
                width: 2.5rem;
                height: 2.5rem;
            }
        }
    }
}